doctype html

html
    - var index = 1
    head
        meta(charset='utf-8')
        title Jee - Greg G.

        link(rel='stylesheet', href='index.css')
        link(rel='icon', href='ic.ico')
        script(src='index.js')

    body.nojs
        script(type='text/javascript') document.body.classList.remove('nojs');

        #menu

        section.header
            img(src='logo.png', tabindex=index++)

            svg.lines
                defs: filter#shadow(x='0', y='0', width='200%', height='200%')
                    feGaussianBlur(result='blurOut', in='offOut', stdDeviation='2')
                    feBlend(in='SourceGraphic', in2='blurOut', mode='normal')

                line(x1='20%', y1='90%', x2='40%', y2='60%', filter='url(#shadow)')
                line(x1='30%', y1='50%', x2='50%', y2='20%', filter='url(#shadow)')
                line(x1='60%', y1='80%', x2='80%', y2='50%', filter='url(#shadow)')
                line(x1='60%', y1='40%', x2='80%', y2='10%', filter='url(#shadow)')

            svg.arrow
                polyline(points='0,0 20,20 40,0')

        section.intro
            h2(tabindex=index++) Hey, I'm Greg.
            p.
                I'm a 17-year-old student from France, currently finishing high school.
                Ever since elementary school, I have been in love with computer science.
                When I was 10 years old, I started playing with graphical softwares, such as Photoshop, After Effects, and Cinema 4D, and spent thousands of hours creating things.
                At 12 years old, I learned Javascript, HTML and CSS, and made a few websites. A year later, I started learning C#, and C++.
                Since then, I've made dozens of libraries and softwares, some of them being Open Source. I've also had the chance to make UWP and Android apps, although I never released them.

        section.me: .wrapper
            .box
                h3(tabindex=index++) Skills
                .box
                    h4 Programming
                    ul
                        li #[b .NET (C# / IL)]: Advanced
                        li #[b Javascript]: Advanced
                        li #[b D]: Basic
                        li #[b C++]: Basic
                        li #[b Java]: Beginner
                        li #[b Vala]: Beginner
                        li #[b SQL]: Beginner
                        li #[b C]: Beginner
                .box
                    h4 Speaking
                    ul
                        li #[b French]: Native
                        li #[b English]: Fluent
                        li #[b German]: Intermediate

            .box
                h3(tabindex='3') Tools
                .box
                    h4 Programming
                    ul
                        li #[b Visual Studio] (C#)
                        li #[b Atom] / #[b VS Code] (Front-end)
                        li #[b Vim] (Everything else)
                .box
                    h4 Other
                    ul
                        li #[b Photoshop]
                        li #[b After Effects]
                        li #[b Excel]

        section.projects
            .insider(tabindex=index++)

            .albion(tabindex=index++)

            .rest(tabindex=index++)

            .styx(tabindex=index++)

        section.contactme
            h1(tabindex=index++) Let's get in touch!

            .conversation.jscritical
                input#message(type='text', placeholder='Send a message to my bot', tabindex=index++)

            ul
                li: a#mail(href='mailto:ijee@tuta.io?subject=Hello%20from%20a%20visitor,%20Greg', tabindex=index++) Send me an email
                li: a#tweet(href='https://twitter.com/0x006A', tabindex=index++) Tweet to me
                li: a#github(href='https://github.com/6A', tabindex=index++) Visit my GitHub profile

        section.keepreading
            h1(tabindex=index++) Keep reading
            br
            p Sorry, there's nothing here yet!
