doctype html

- let index = 0

mixin a(l)
  if l.startsWith('http')
    a(href=l, target='_blank', rel='noopener noreferrer')&attributes(attributes): block
  else
    a(href=l)&attributes(attributes): block

mixin arrow(target, points = '20,20 40,40 60,20')
  .arrow-wrapper&attributes(attributes)
    br
    a(href=target).arrow
      svg(style='width: 80px; height: 60px;')
        polyline(points=points)


mixin t(lang)
  if language === lang
    block

mixin en()
  +t('en'): block
mixin fr()
  +t('fr'): block

html(lang=language)
  // Oh hey there! 
  // The source code of this website is available on GitHub, if you want to see. 
  // -> https://github.com/6A/6A.github.io/tree/master/src 
  head
    meta(charset='utf-8')
    meta(name='theme-color', content='#111111')
    meta(name='msapplication-navbutton-color', content='#111111')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='maximum-scale=1, user-scalable=no')
    meta(name='author', content='Grégoire Geis')
    
    meta(name='og:image', content='/graphics/banner.png')

    link(rel='icon', href='/graphics/fav.ico')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato|Nunito|Dosis|Ubuntu+Mono')

    block head

  body
    script.
      document.documentElement.classList.add('js')

    .scrollbar
      .thumb
        .sections
      .track

    .content
      block body

    block scripts

    script(src='/app.js')
