doctype html

- let index = 0

mixin a(l)
  if l.startsWith('http')
    a(href=l, target='_blank', rel='noopener noreferrer')&attributes(attributes): block
  else
    a(href=l)&attributes(attributes): block

mixin arrow(target)
  .arrow-wrapper
    br
    a(href=target).arrow
      svg(style='width: 80px; height: 60px;')
        polyline(points='20,20 40,40 60,20')

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='theme-color', content='#111111')
    meta(name='msapplication-navbutton-color', content='#111111')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='maximum-scale=1, user-scalable=no')
    meta(name='author', content='Grégoire Geis')

    link(rel='icon', href='/graphics/ic.ico')

    block head

  body
    section#header(data-title='Header')
      .hero
        svg(viewBox='0 0 480 480', version='1.1')
          path(d='M209.505,429.511c0,0 34.918,-117.879 102.813,-213.193c-1.305,50.921 -1.623,96.232 11.433,141.278c-25.46,7.834 -99.884,47.863 -114.246,71.915Z')
          path(d='M159.714,466.23c0,0 -121.077,-83.313 -159.594,-368.603c44.207,-35.351 152.48,-66.701 268.267,-40.97c-22.849,6.528 -105.584,28.85 -163.687,70.631c-3.917,50.922 17.802,243.605 55.014,338.942Z')
          path(d='M179.499,432.451c0,0 -35.73,-134.009 -25.284,-276.98c41.781,-35.254 152.689,-107.041 293.702,-155.351c-105.76,78.993 -212.927,248.921 -268.418,432.331Z')

      mixin social(img, link, title, ext)
        +a(link)(id=img, title=title, tabindex=index++)
          img.icon&attributes(attributes)(src='/graphics/'+img+'.svg')

      .social
        +social('email',   'mailto:hello@gregoirege.is?subject=Hey,%20Greg', 'Send me an email')
        +social('github',  'https://github.com/6A',                          'Visit my GitHub profile')
        img.logo(src='/graphics/logo.svg')
        +social('medium',  'https://medium.com/@geis',                       'Visit my Medium profile')
        +social('keybase', 'https://keybase.io/71',                          'Visit my Keybase profile')

      +arrow('#me')

    block body
    block scripts

    script(src='/app.js')
