extends layout.jade

block content
    nav
    
    .hero(tabindex='1')
        .header
            h1.title #[img.logo(src='img/logo.png')] #{main}
            
        .introduction
            p= intro
            
    .slides
        section.coding(tabindex='2')
            h2.title= code.title
            p.descr= code.intro
            
            .abilities
                ul: each val in code.abilities
                    li= val
            
            .examples
                ul: each val in code.examples
                    li= val
                
        section.adapt(tabindex='3')
            h2.title= adapt.title
            p.descr= adapt.intro
            
            .examples
                ul: each val in adapt.examples
                    li= val
                   
        section.design(tabindex='4')
            h2.title= design.title
            p.descr= design.intro
                    
            .abilities
                ul: each val in design.abilities
                    li= val
                    
            .examples
                ul: each val in design.examples
                    li= val
                
        section.speak(tabindex='5')
            h2.title= speak.title
            p.descr= speak.intro
        
            .abilities
                ul: each val in speak.abilities
                    li= val
      
    .footer(tabindex='6')
        .links
            h3= footer.links
            ul
                li: a(href='https://github.com/dashji'): p GitHub
                li: a(href='https://twitter.com/aedotj'): p Twitter
        
        .contact
            h3= footer.contactme
            ul
                li: a(href='mailto:s.aej@outlook.com'): p Mail
            
        .box
            p!= footer.box
    
    if dev        
        .notice= notice
    else
        noscript.notice= notice
