include ./mixins.jade
- var logo = "<img class='logo' src='img/logo.png'/>"

doctype html

html(lang='en')
  head
    title= title
    if dev
        script(src='http://localhost:35729/livereload.js?snipver=1')
    
    link(rel='stylesheet', href='app.css')
    script(src='app.js')

  body.nojs
    script document.body.classList.remove('nojs');
    svg.strokes
        +circle(50)
        +circle(100)
        +circle(200)
        +circle(300)
        +circle(500)
        +circle(800)
        +circle(1100)
    section.hero
        .header
            h1 !{logo} #{title}
            
        .introduction
            p= intro
            
    section.me
        .design
            .experience
          
            .abilities
        
        .coding
            .experience
        
            .abilities
        
    section.madebyme
        .nucleus
        
        .albion
      
    section.footer
        .links
        
        .contact
            
        .box
    
    if dev        
        section.notice= notice
    else
        noscript.notice= notice
