doctype html


-
  let index = 0
  let icons = {
    email     : '<svg width="24" height="24" viewBox="0 0 24 24"><path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z"/></svg>',
    github    : '<svg width="24" height="24" viewBox="0 0 24 24"><path d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"/></svg>',
    keybase   : '<svg width="71" height="76" viewBox="0 0 71 76"><g transform="translate(-241.11756,-377.8123)"><path d="M247.8,451.8c-0.6-1.3-1.4-3.1-1.8-4l-0.6-1.7l-2,2.2l-2,2.2 l-0.2-4.2c-0.3-6,0.2-12.2,1.2-16.6c2.3-9.8,9.5-18.7,18.8-23.4l2.1-1l-0.5-1.5c-0.3-0.8-0.6-2.5-0.7-3.6l-0.2-2.1l-2.1-0.2 c-3.2-0.3-4.9-1.2-6-3.5c-0.6-1.2-0.6-1.4-0.4-4.6c0.2-4.2,0.5-5.1,1.8-6.5c1.6-1.8,2.7-2.1,6.7-1.9c2.9,0.2,3.5,0.3,4.8,0.9 c0.8,0.4,1.5,0.8,1.6,0.8c0.1,0,1-1.1,2.1-2.6l1.9-2.7l1.2,0.7c0.7,0.4,1.5,0.9,1.9,1.1l0.7,0.4l-0.6,1.5c-0.3,0.8-0.7,2.2-0.8,2.9 l-0.2,1.4l1.7,0.2c6.1,0.6,10.7,4.3,12.4,9.9c0.5,1.8,0.5,5.3,0,7c-0.5,1.6-0.5,1.7-0.1,1.7c0.7,0,5.4,2.3,7.3,3.5 c3.7,2.4,8,6.6,10.4,10.2c4.5,6.7,6.4,14,5.6,22c-0.4,4.8-1.3,8.6-2.9,12.3l-0.6,1.4l-2.5,0l-2.5,0l1.2-2.4 c1.3-2.6,2.3-6.2,2.8-9.4c0.3-2.2,0.4-8.2,0.1-9.3l-0.2-0.7l-1.3,1.4c-3.2,3.5-7.9,4.5-14.2,2.8c-5.4-1.4-7.6-1.7-12.7-1.7 c-3.9,0-5.2,0.1-7.3,0.6c-5.8,1.3-9.9,3.2-15.6,7.3c-2.1,1.5-3.8,2.7-3.9,2.7c-0.1,0,0.2-1,0.6-2.3c0.4-1.3,1.1-3.4,1.5-4.8 l0.8-2.5l-0.9,0.9c-0.5,0.5-1.9,1.9-3.1,3.2l-2.1,2.3l0.5,1.9c0.6,2.5,2,5.6,3.5,7.9c0.6,1,1.1,1.8,1.1,1.9s-1.2,0.1-2.6,0.1h-2.6 L247.8,451.8L247.8,451.8z M256.6,427.6c4.8-5.1,8.7-9.2,8.8-9.2c0.1,0.1-0.4,1.6-0.9,3.3c-3.3,10.4-4,12.4-3.9,12.5 c0,0,1.2-0.4,2.5-0.9c8.5-3.7,18.4-4.2,28.9-1.4c4.7,1.2,6.5,1.2,8.8,0c1.3-0.7,1.8-1.1,2.4-2.1c1.1-1.7,1.2-4.1,0.5-6.3 c-1.7-4.8-8.3-11-14.5-13.7c-3.2-1.4-3.4-1.4-4.1-0.7l-0.6,0.6l2.6,3.2c1.4,1.7,2.9,3.6,3.1,4.1c0.6,1.2,0.7,3.1,0.1,4.3 c-0.8,1.7-3.2,2.9-5.1,2.5c-0.8-0.2-1.1-0.1-1.9,0.5c-2.2,1.6-4.6,1.2-6.6-1.2c-1.6-1.8-2-2.7-2.1-4.5c0-0.9-0.3-2-0.5-2.4 c-0.3-0.6-0.4-1.3-0.4-2.2l0.1-1.4l-1.3-0.3c-1.8-0.5-3.9-1.5-5.1-2.4c-0.6-0.4-1.1-0.8-1.3-0.8s-1.5,0.6-2.9,1.3 c-9.7,5-16,14.3-17,24.8c-0.1,1-0.2,2.3-0.3,2.8l-0.1,0.9l1.1-1.1C247.4,437.3,251.8,432.7,256.6,427.6L256.6,427.6z M282.5,420.2 c0.9-0.7,1.7-1.3,1.9-1.3c0.1,0,0.4,0.3,0.7,0.7c0.5,0.8,1.4,0.8,1.8,0.1c0.3-0.5,0.3-0.6-5.6-7.8c-3.5-4.3-4.2-5-4.7-5 c-1.2,0.1-0.9,1,1,3.3l1.8,2.2l-1,0.8c-1.1,1-1.2,1.2-0.5,1.8c0.5,0.5,0.6,0.4,1.6-0.3l1.1-0.7l0.7,0.6c0.4,0.3,0.6,0.8,0.6,0.9 c0,0.2-0.8,0.9-1.7,1.7c-0.9,0.7-1.6,1.5-1.6,1.7c0,0.3,0.5,1.1,1.4,2.2C280.3,421.7,280.8,421.5,282.5,420.2L282.5,420.2z  M272.2,406c0.6-1.8,2.6-3.2,4.6-3.2c1.1,0,2.7,0.9,3.8,2.1l1,1.2l0.9-1.1c2.5-2.8,2.8-6.7,0.8-10.1c-1.5-2.5-4.3-4-8.2-4.4 c-2.1-0.2-2.6-0.4-3.7-1.5l-0.8-0.8l-0.4,0.6c-0.8,1.2-2.5,5.1-3,6.6c-0.7,2.3-0.4,5.9,0.5,7.7c0.9,1.7,3.3,4,4,3.7 C271.8,406.9,272,406.5,272.2,406L272.2,406z M263.3,392.4c0.2-0.5,0.7-1.8,1.2-2.8c0.5-1,0.9-2,0.9-2.3c0-0.9-1-1.3-3.7-1.5 c-2.4-0.2-2.6-0.1-3.1,0.4c-0.4,0.4-0.6,0.9-0.6,1.6c0,0.6-0.1,1.7-0.2,2.6c-0.2,2.1,0.1,2.5,2.2,2.8 C263.1,393.4,263,393.4,263.3,392.4z M260.2,390c0-1.7,0.2-1.9,1.6-1.9h1.3v1.4v1.4h-1.4h-1.4V390z M266.5,448.3 c-0.6-0.6-0.8-1-0.8-2c0-1.9,1.1-3,2.9-3c1.7,0,2.9,1.2,2.9,2.9c0,1.8-1.1,2.8-3,2.9C267.5,449.1,267.1,448.9,266.5,448.3 L266.5,448.3z M285.8,448.6c-2.3-1.8-1.1-5.3,1.8-5.3c1.8,0,2.8,1.1,2.9,3c0,1.1-0.1,1.4-0.8,2s-1,0.8-2,0.8 C286.8,449.1,286.2,448.9,285.8,448.6L285.8,448.6z"/></g></svg>',
    linkedin  : '<svg width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>',
    medium    : '<svg width="195" height="195" viewBox="0 0 195 195"><path d="M46.5340803,65.2157554 C46.6968378,63.6076572 46.0836,62.018231 44.8828198,60.93592 L32.6512605,46.2010582 L32.6512605,44 L70.6302521,44 L99.9859944,108.380952 L125.794585,44 L162,44 L162,46.2010582 L151.542017,56.2281011 C150.640424,56.9153477 150.193188,58.0448862 150.380019,59.1628454 L150.380019,132.837155 C150.193188,133.955114 150.640424,135.084652 151.542017,135.771899 L161.755369,145.798942 L161.755369,148 L110.38282,148 L110.38282,145.798942 L120.963119,135.527337 C122.002801,134.487948 122.002801,134.182246 122.002801,132.592593 L122.002801,73.0417402 L92.585901,147.755438 L88.6106443,147.755438 L54.3622782,73.0417402 L54.3622782,123.115814 C54.0767278,125.221069 54.7759199,127.3406 56.2581699,128.863022 L70.0186741,145.55438 L70.0186741,147.755438 L31,147.755438 L31,145.55438 L44.7605042,128.863022 C46.2319621,127.338076 46.8903838,125.204485 46.5340803,123.115814 L46.5340803,65.2157554 Z"/></svg>',
    observable: '<svg width="25" height="28" viewBox="0 0 25 28"><path d="M12.5 22.6667C11.3458 22.6667 10.3458 22.4153 9.5 21.9127C8.65721 21.412 7.98339 20.7027 7.55521 19.8654C7.09997 18.9942 6.76672 18.0729 6.56354 17.1239C6.34796 16.0947 6.24294 15.0483 6.25 14C6.25 13.1699 6.30417 12.3764 6.41354 11.6176C6.52188 10.8598 6.72292 10.0894 7.01563 9.30748C7.30833 8.52555 7.68542 7.84763 8.14479 7.27274C8.62304 6.68378 9.24141 6.20438 9.95208 5.87163C10.6979 5.51244 11.5458 5.33333 12.5 5.33333C13.6542 5.33333 14.6542 5.58467 15.5 6.08733C16.3428 6.588 17.0166 7.29733 17.4448 8.13459C17.8969 8.99644 18.2271 9.9103 18.4365 10.8761C18.6448 11.841 18.75 12.883 18.75 14C18.75 14.8301 18.6958 15.6236 18.5865 16.3824C18.4699 17.1702 18.2639 17.9446 17.9719 18.6925C17.6698 19.4744 17.2948 20.1524 16.8427 20.7273C16.3906 21.3021 15.7927 21.7692 15.0479 22.1284C14.3031 22.4876 13.4542 22.6667 12.5 22.6667ZM14.7063 16.2945C15.304 15.6944 15.6365 14.864 15.625 14C15.625 13.1073 15.326 12.3425 14.7292 11.7055C14.1313 11.0685 13.3885 10.75 12.5 10.75C11.6115 10.75 10.8688 11.0685 10.2708 11.7055C9.68532 12.3123 9.36198 13.1405 9.375 14C9.375 14.8927 9.67396 15.6575 10.2708 16.2945C10.8688 16.9315 11.6115 17.25 12.5 17.25C13.3885 17.25 14.124 16.9315 14.7063 16.2945ZM12.5 27C19.4031 27 25 21.1792 25 14C25 6.82075 19.4031 1 12.5 1C5.59687 1 0 6.82075 0 14C0 21.1792 5.59687 27 12.5 27Z"/></svg>',
  }

mixin link(l)
  a(href=l, target='_blank', rel='noopener noreferrer', tabindex=index++)&attributes(attributes): block

mixin social(img, link, title, size = 24, marginTop = 0)
  +link(link)(id=img, title=title, style=`width: ${size}px; height: ${size}px; --mt: -${marginTop}px;`, tabindex=index++)&attributes(attributes)!= icons[img]


html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='maximum-scale=1, user-scalable=no')
    meta(name='author', content='Grégoire Geis')

    meta(name='og:image', content='banner.png')

    link(rel='icon', href='favicon.ico')

    link(rel='stylesheet', href='index.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito|Noto+Sans+KR|Red+Hat+Display&display=swap')

    title Grégoire Geis


  body
    input#change-theme(type='checkbox', title='Toggle dark mode', tabindex=index++)

    input#language-en(type='radio', name='language', value='en', checked)
    input#language-fr(type='radio', name='language', value='fr')
    input#language-ko(type='radio', name='language', value='ko')

    each category in categories
      input.toggle(type='checkbox', checked, id='toggle-'+category)

    script.
      const hrs = new Date().getHours(),
            lang = navigator.language.substr(0, 2)

      if (hrs > 18 || hrs < 8)
        document.getElementById('change-theme').checked = true

      if (lang === 'fr' || lang === 'ko')
        document.getElementById('language-' + lang).checked = true


    main
      header
        svg#lines
          line(x1='1000', y1='100', x2='800', y2='300', style='stroke: #e03131; stroke-width: 1.2;')
          line(x1='1030', y1='220', x2='830', y2='420', style='stroke: #364fc7; stroke-width: 1.2;')
          line(x1='850' , y1='320', x2='750', y2='420', style='stroke: #ffd43b; stroke-width: 1.2;').dark
          line(x1='850' , y1='320', x2='750', y2='420', style='stroke: #51cf66; stroke-width: 1.2;').light

        label#icon(for='change-theme', title='Toggle dark mode', index=tabindex++)
          svg#icon(width='100%', height='100%', viewBox='0 0 449 467', version='1.1', xmlns='http://www.w3.org/2000/svg')
            path(d='M209.505,429.511c0,0 34.918,-117.879 102.813,-213.193c-1.305,50.921 -1.623,96.232 11.433,141.278c-25.46,7.834 -99.884,47.863 -114.246,71.915Z')
            path(d='M159.714,466.23c0,0 -121.077,-83.313 -159.594,-368.603c44.207,-35.351 152.48,-66.701 268.267,-40.97c-22.849,6.528 -105.584,28.85 -163.687,70.631c-3.917,50.922 17.802,243.605 55.014,338.942Z')
            path(d='M179.499,432.451c0,0 -35.73,-134.009 -25.284,-276.98c41.781,-35.254 152.689,-107.041 293.702,-155.351c-105.76,78.993 -212.927,248.921 -268.418,432.331Z')

        h3
          span#intro
            span.name
              span.en I am #[a(href='#timeline'): em Grégoire Geis]
              span.fr Je suis #[a(href='#timeline'): em Grégoire Geis]
              span.ko 저는 #[a(href='#timeline'): em 갯그렉]입니다
            | . 
            span.work
              span.en I'm a software engineering apprentice at #[+link('https://about.google') Google France]
              span.fr Je suis apprenti chez #[+link('https://about.google') Google]
              span.ko #[+link('https://about.google') 구글]에서 일하고 
            span
              span.en , 
              span.fr , 
            span.school
              span.en and I study at #[+link('https://www.epita.fr') Epita]
              span.fr et j'étudie à l'#[+link('https://www.epita.fr') Epita]
              span.ko #[+link('https://www.epita.fr') 에피타]에서 공부합니다
            | . 
            span.speak
              span.en I speak #[a(href='#', tabindex=index++): label(for='language-en') English], #[a(href='#', tabindex=index++): label(for='language-fr') French], and some #[a(href='#', tabindex=index++): label(for='language-ko') Korean].
              span.fr Je parle le #[a(href='#', tabindex=index++): label(for='language-fr') français], l'#[a(href='#', tabindex=index++): label(for='language-en') anglais], et un peu le #[a(href='#', tabindex=index++): label(for='language-ko') coréen].
              span.ko #[a(href='#', tabindex=index++): label(for='language-en') 영어], #[a(href='#', tabindex=index++): label(for='language-fr') 프랑스어], 그리고 #[a(href='#', tabindex=index++): label(for='language-ko') 한국어]를 합니다.

          ul#contact
            li
              .text
                span.en Contact me.
                span.fr Contactez-moi.
                span.ko 연락바랍니다.
              .links
                +social('email'   , 'mailto:hello@gregoirege.is?subject=Hello,%20Greg'      , 'Send me an email', 32, 4).en
                +social('email'   , 'mailto:hello@gregoirege.is?subject=Bonjour,%20Grégoire', 'Send me an email', 32, 4).fr
                +social('email'   , 'mailto:hello@gregoirege.is?subject=그렉 씨 안녕하세요'    , 'Send me an email', 32, 4)(style='margin-left: 3px;').ko
                |  · 
                +social('linkedin', 'https://www.linkedin.com/in/gregoiregeis'      , 'View my LinkedIn profile', 26)
                |  · 
                +social('keybase' , 'https://keybase.io/71'                         , 'View my Keybase profile' , 28)

            li
              .text
                span.en See what I've done.
                span.fr Voyez ce que j'ai fait.
                span.ko 제가 만든 것 좀 봐주세요.
              .links
                +social('github'    , 'https://github.com/71'       , 'View my GitHub profile'    , 32, 4)
                |  · 
                +social('observable', 'https://observablehq.com/@71', 'View my Observable profile', 28, 2)
                |  · 
                +social('medium'    , 'https://medium.com/@geis'    , 'View my Medium profile'    , 40, 8)(style='margin-left: -4px')

      section.timeline#timeline(style=`--timeline-length: ${timeline.length}`)
        h3 Here is a #[span(style='font-weight: 100') (short)] summary of my life.

        .years
          each year in timeline.years
            if year.skip
              .skip(style=`--offset: ${year.offset}; --length: 4`)
            else
              .year(style=`--offset: ${year.offset}`)
                h4
                  span.en= year.en
                  span.fr= year.fr
                  span.ko= year.ko

        .months
          each month in timeline.months
            if month.skip
              .skip(style=`--offset: ${month.offset}; --length: ${Math.min(month.skip, 4)}`)
            else
              .month(style=`--offset: ${month.offset}`)
                h4
                  span.en= month.en
                  span.fr= month.fr
                  span.ko= month.ko

        .events
          each event in timeline.events
            if event.length
              .event(class=event.type, style=`--bar: ${event.bar}; --offset: ${event.offset}; --length: ${event.length};`)
                .range(title=`${event.start.toISOString().substr(0, 10)} - ${event.end.toISOString().substr(0, 10)}`)
                .title!=event.title
            else
              .event(class=event.type, style=`--bar: ${event.bar}; --offset: ${event.offset};`)
                .dot(title=event.date.toISOString().substr(0, 10))
                .title!=event.title

          .descriptions
            each event in timeline.events
              if event.descr
                .description(style=`--offset: ${event.offset};`)!= event.descr
              else
                .description


      footer
        .content
          span.en Made in Paris, France. Source code on #[+link('https://github.com/71/71.github.io') GitHub].
          span.fr Fait à Paris, France. Source code disponible sur #[+link('https://github.com/71/71.github.io') GitHub].
          span.ko 파리에서 만들었어요. #[+link('https://github.com/71/71.github.io') GitHub]에서 소스 코드를 사용할 수 있습니다.



      script.
        const links = document.querySelectorAll('.name a')

        for (const link of links) {
          link.addEventListener('click', () => {
            smoothScrollTo(document.getElementById('timeline').offsetTop - 30, 10)
            return false
          })
        }

        function smoothScrollTo(scrollTarget, speed) {
          if (typeof scrollTarget !== 'number')
            scrollTarget = 0
          if (typeof speed !== 'number')
            speed = 2000

          let currentScroll = window.scrollY
          let currentTime   = 0
          let time          = Math.max(.1, Math.min(Math.abs(currentScroll - scrollTarget) / speed, .8))

          let ease = (p) => ((p /= .5) < 1) ? .5 * Math.pow(p, 5) : .5 * (Math.pow((p - 2), 5) + 2)
          let tick = ( ) => {
            currentTime += 1 / 60
            p = currentTime / time
            t = ease(p)

            if (p < 1) {
              requestAnimationFrame(tick)
              window.scrollTo(0, currentScroll + ((scrollTarget - currentScroll) * t))
            } else {
              window.scrollTo(0, scrollTarget)
            }
          }

          tick()
        }
