doctype html


-
  let index = 0
  let icons = {
    email     : '<svg width="24" height="24" viewBox="0 0 24 24"><path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z"/></svg>',
    github    : '<svg width="24" height="24" viewBox="0 0 24 24"><path d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"/></svg>',
    linkedin  : '<svg width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>',
    observable: '<svg width="25" height="28" viewBox="0 0 25 28"><path d="M12.5 22.6667C11.3458 22.6667 10.3458 22.4153 9.5 21.9127C8.65721 21.412 7.98339 20.7027 7.55521 19.8654C7.09997 18.9942 6.76672 18.0729 6.56354 17.1239C6.34796 16.0947 6.24294 15.0483 6.25 14C6.25 13.1699 6.30417 12.3764 6.41354 11.6176C6.52188 10.8598 6.72292 10.0894 7.01563 9.30748C7.30833 8.52555 7.68542 7.84763 8.14479 7.27274C8.62304 6.68378 9.24141 6.20438 9.95208 5.87163C10.6979 5.51244 11.5458 5.33333 12.5 5.33333C13.6542 5.33333 14.6542 5.58467 15.5 6.08733C16.3428 6.588 17.0166 7.29733 17.4448 8.13459C17.8969 8.99644 18.2271 9.9103 18.4365 10.8761C18.6448 11.841 18.75 12.883 18.75 14C18.75 14.8301 18.6958 15.6236 18.5865 16.3824C18.4699 17.1702 18.2639 17.9446 17.9719 18.6925C17.6698 19.4744 17.2948 20.1524 16.8427 20.7273C16.3906 21.3021 15.7927 21.7692 15.0479 22.1284C14.3031 22.4876 13.4542 22.6667 12.5 22.6667ZM14.7063 16.2945C15.304 15.6944 15.6365 14.864 15.625 14C15.625 13.1073 15.326 12.3425 14.7292 11.7055C14.1313 11.0685 13.3885 10.75 12.5 10.75C11.6115 10.75 10.8688 11.0685 10.2708 11.7055C9.68532 12.3123 9.36198 13.1405 9.375 14C9.375 14.8927 9.67396 15.6575 10.2708 16.2945C10.8688 16.9315 11.6115 17.25 12.5 17.25C13.3885 17.25 14.124 16.9315 14.7063 16.2945ZM12.5 27C19.4031 27 25 21.1792 25 14C25 6.82075 19.4031 1 12.5 1C5.59687 1 0 6.82075 0 14C0 21.1792 5.59687 27 12.5 27Z"/></svg>',
  }

mixin link(l)
  a(href=l, target='_blank', rel='noopener noreferrer', tabindex=index++)&attributes(attributes): block

mixin social(img, link, title, size = 24, marginTop = 0)
  +link(link)(id=img, title=title, style=`width: ${size}px; height: ${size}px; --mt: -${marginTop}px;`, tabindex=index++)&attributes(attributes)!= icons[img]

mixin profile(img, link, title, size = 24, marginTop = 0)
  +social(img, link, 'View my ' + title + ' profile', size, marginTop).en
  +social(img, link, 'Mon profil ' + title, size, marginTop).fr
  +social(img, link, '제 ' + title + ' 프로필입니다', size, marginTop).ko

mixin icon()
  svg(width='100%', height='100%', viewBox='0 0 449 467', version='1.1', xmlns='http://www.w3.org/2000/svg')&attributes(attributes)
    path(d='M209.505,429.511c0,0 34.918,-117.879 102.813,-213.193c-1.305,50.921 -1.623,96.232 11.433,141.278c-25.46,7.834 -99.884,47.863 -114.246,71.915Z')
    path(d='M159.714,466.23c0,0 -121.077,-83.313 -159.594,-368.603c44.207,-35.351 152.48,-66.701 268.267,-40.97c-22.849,6.528 -105.584,28.85 -163.687,70.631c-3.917,50.922 17.802,243.605 55.014,338.942Z')
    path(d='M179.499,432.451c0,0 -35.73,-134.009 -25.284,-276.98c41.781,-35.254 152.689,-107.041 293.702,-155.351c-105.76,78.993 -212.927,248.921 -268.418,432.331Z')


html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='maximum-scale=1, user-scalable=no')
    meta(name='author', content='Grégoire Geis')

    meta(name='og:image', content='banner.png')

    link(rel='icon', href='favicon.ico')

    link(rel='stylesheet', href='index.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito|Noto+Sans+KR|Red+Hat+Display&display=swap')

    title Grégoire Geis


  body
    input#change-theme(type='checkbox', title='Toggle dark mode', tabindex=index++)

    input#language-en(type='radio', name='language', value='en', checked)
    input#language-fr(type='radio', name='language', value='fr')
    input#language-ko(type='radio', name='language', value='ko')

    script.
      const hrs = new Date().getHours(),
            lang = navigator.language.substr(0, 2)

      if (hrs > 18 || hrs < 8 || matchMedia('(prefers-color-scheme: dark)')?.matches)
        document.getElementById('change-theme').checked = true

      if (lang === 'fr' || lang === 'ko')
        document.getElementById('language-' + lang).checked = true


    main
      header
        +icon#bg-icon
          path(d='M209.505,429.511c0,0 34.918,-117.879 102.813,-213.193c-1.305,50.921 -1.623,96.232 11.433,141.278c-25.46,7.834 -99.884,47.863 -114.246,71.915Z')
          path(d='M159.714,466.23c0,0 -121.077,-83.313 -159.594,-368.603c44.207,-35.351 152.48,-66.701 268.267,-40.97c-22.849,6.528 -105.584,28.85 -163.687,70.631c-3.917,50.922 17.802,243.605 55.014,338.942Z')
          path(d='M179.499,432.451c0,0 -35.73,-134.009 -25.284,-276.98c41.781,-35.254 152.689,-107.041 293.702,-155.351c-105.76,78.993 -212.927,248.921 -268.418,432.331Z')

        label#icon(for='change-theme', title='Toggle dark mode', index=tabindex++)
          +icon#icon
            path(d='M209.505,429.511c0,0 34.918,-117.879 102.813,-213.193c-1.305,50.921 -1.623,96.232 11.433,141.278c-25.46,7.834 -99.884,47.863 -114.246,71.915Z')
            path(d='M159.714,466.23c0,0 -121.077,-83.313 -159.594,-368.603c44.207,-35.351 152.48,-66.701 268.267,-40.97c-22.849,6.528 -105.584,28.85 -163.687,70.631c-3.917,50.922 17.802,243.605 55.014,338.942Z')
            path(d='M179.499,432.451c0,0 -35.73,-134.009 -25.284,-276.98c41.781,-35.254 152.689,-107.041 293.702,-155.351c-105.76,78.993 -212.927,248.921 -268.418,432.331Z')

        h3
          span#intro
            span.name
              span.en I am #[em Grégoire Geis]
              span.fr Je suis #[em Grégoire Geis]
              span.ko 저는 #[em Geis Grégoire]입니다
            | . 
            span.work
              span.en I'm a software engineering apprentice at #[+link('https://about.google') Google France]
              span.fr Je suis apprenti chez #[+link('https://about.google') Google]
              span.ko #[+link('https://about.google') 구글]에서 일하고
            span
              span.en , 
              span.fr , 
            span.school
              span.en and I study at #[+link('https://www.epita.fr') Epita]
              span.fr et j'étudie à l'#[+link('https://www.epita.fr') Epita]
              span.ko #[+link('https://www.epita.fr') 에피타]에서 공부합니다
            | . 
            span.speak
              span.en I speak #[a(href='#', tabindex=index++): label(for='language-en') English], #[a(href='#', tabindex=index++): label(for='language-fr') French], and some #[a(href='#', tabindex=index++): label(for='language-ko') Korean].
              span.fr Je parle le #[a(href='#', tabindex=index++): label(for='language-fr') français], l'#[a(href='#', tabindex=index++): label(for='language-en') anglais], et un peu le #[a(href='#', tabindex=index++): label(for='language-ko') coréen].
              span.ko #[a(href='#', tabindex=index++): label(for='language-en') 영어], #[a(href='#', tabindex=index++): label(for='language-fr') 프랑스어], 그리고 #[a(href='#', tabindex=index++): label(for='language-ko') 한국어]를 합니다.

          ul#contact
            li
              .text
                span.en Contact me.
                span.fr Contactez-moi.
                span.ko 연락바랍니다.
              .links
                +social('email'   , 'mailto:hello@gregoirege.is?subject=Hello,%20Greg'      , 'Send me an email', 32, 4).en
                +social('email'   , 'mailto:hello@gregoirege.is?subject=Bonjour,%20Grégoire', 'Envoyez-moi un email', 32, 4).fr
                +social('email'   , 'mailto:hello@gregoirege.is?subject=그렉 씨 안녕하세요'    , '이메일을 보내세요', 32, 4)(style='margin-left: 3px;').ko
                |  · 
                +profile('linkedin', 'https://www.linkedin.com/in/geis', 'LinkedIn', 26)

            li
              .text
                span.en See what I've done.
                span.fr Voyez ce que j'ai fait.
                span.ko 제가 만든 것 좀 봐주세요.
              .links
                +profile('github'    , 'https://github.com/71'       , 'GitHub'    , 32, 4)
                |  · 
                +profile('observable', 'https://observablehq.com/@71', 'Observable', 28, 2)
