doctype html

- var index = 1

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='theme-color', content='#111111')
    meta(name='msapplication-navbutton-color', content='#111111')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='maximum-scale=1, user-scalable=no')
    meta(name='author', content='Grégoire GEIS')

    title Jee - Grégoire Geis

    link(rel='icon', href='graphics/ic.ico')
    link(rel='stylesheet', href='index.css')
    script(src='app.js')

  body.disabledjs
    script(type='text/javascript') document.body.classList.remove('disabledjs');
    
    section.header(data-title='Header')
      .js
        form#userinput
          input#message(type='text', placeholder='Send a message to my bot', tabindex=index++)
          input#send(type='submit', value='SEND', disabled)

        #messages
        
      .nojs
        img(src='graphics/nojs.svg', tabindex=index++)
        
    section.blog(data-title='Blog')
      h1 Blog
      
      .js
        h2#lastposttitle Last post title
        h4#lastpostdate Last post date
        p#lastposttext Last post text
    
    section.projects(data-title='Projects')
      mixin project(name)
        div(class=name.toLowerCase(), tabindex=index++, data-subtitle=name)
          h3= name
          block

      +project('Insider')
      +project('Albion')
      +project('Subscape')

    section.footer(data-title='Contact', tabindex=index++)
      mixin social(img, link, title)
        a(id=img, href=link, target='_blank', title=title, tabindex=index++): img.icon(src='graphics/'+img+'.svg')

      +social('email', 'mailto:ijee@tuta.io?subject=Hello,%20Greg', 'Send me an email')
      +social('github', 'https://github.com/6A', 'Visit my GitHub profile')
      +social('twitter', 'https://twitter.com/71stbyte', 'Send me a Tweet')
